/* Reset de estilos padrão para garantir consistência entre navegadores */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para as seções */
section {
    margin: 2em;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para formulário de contato */
form label {
    display: block;
    margin: 0.5em 0;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.2em 0;
}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #007BFF;
    color: #fff;
}
